language: go

go:
  - 1.8.3

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y

install:
  - glide up --strip-vendor

script:
  - go test
